.person__details {
    position: relative;
    flex: 50%;
    flex-direction: row;
    padding: 20px;
}

.person__image {
    max-width: 260px;
    border-radius: 4px;
}

.person__choose {
    margin: auto;
    font-size: 25px;
}